version: "3.9"

services:
  api:
    depends_on:
      - postgresdb
      - redisdb
    build: ./api
    command: sh -c "npm i && npm run migration:run && npm run start:dev"
    environment:
      REDIS_URL: redis://redisdb:6379
      DATABASE_TYPE: postgres
      DATABASE_HOST: postgresdb
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: 12345
      DATABASE_PORT: 5432
      DATABASE_NAME: bilhetezada
    ports:
      - 3132:3132
    networks:
      - network
    volumes:
      - type: bind
        source: ./api
        target: /api
      - /api/node_modules

  postgresdb:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: bilhetezada
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - network

  redisdb:
    image: redis:7
    container_name: bilhetezada-redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    networks:
      - network

volumes:
  redis-data:
  postgres-data:

networks:
  network: